*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;    
}

img{
    height: 30px;
}

section{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    min-height: 200px;
}

.box{
    
    width: 600px;
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 3px solid black;
    border-radius: 30px;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}

.form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 600px;
    height: 50px;
    margin: 10px;
    margin-top: -10px;
}

.form-email{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 50px;
    margin: 10px;
    margin-top: -10px;
    left: 10%;       
}

.form-email label{
    position: absolute;
    left: 40%;
    color: gray;
hover{
     opacity: 0%;
    }
}

.button-email{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 34px;
    width: 110px;
    margin: 0;
    margin-left: 10px;
    background: aqua;
    border-style: none;
    border: 1px solid black;
}


input{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 30px;
    width: 230px;
}

.form label{
    position: absolute;
    color: gray;
    top: 30%;
    left: 25%;
    right: 20%;
    height: 80%;
    bottom: 10%;
}
label:hover{
    opacity: 0%;
}
input:focus ~ label,
input:focus ~ :valid{
    opacity: 0%;
}



.button-ok{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 43%;
    height: 34px;
    width: 100px;
    margin-bottom: 10px;
}
a{
    
    text-decoration: none;
    color: black;
}

button:active {
    background: rgb(78, 115, 171);
}