<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Menu</title>
</head>
<body>
    <section>
        <div class="box">
            <div class="itens-box">
                <div class="logo">
                    <img src="../img/logo.jfif" alt="">
                </div> 

                <div class="botoes">
                    <div class="login">
                        <a href="/Home/login"><button>Entrar</button>     </a>
                    </div>
                    <div>
                        <a href="/Home/Redefinir_Senha"> <button>Redefinir Senha</button>     </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>
</html>