@model Gerador_de_Folha_de_Pagamento_Web.Models.Funcionario_Login
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="../css/index.css?version=1">
<title>Login</title>

<section>
    <div class="form-box">
        <div class="itens-box">

            <div class="logo">
                <img src="../img/logo.jfif" alt="logo_ataron">
            </div>

            <div class="formulario">
                <h2>Login</h2>
        
                        @using (Html.BeginForm("index", "Home", FormMethod.Post))
                        {
                            if (ViewBag.login_funcionario != null)
                            {
                                if (ViewBag.login_funcionario == 0)
                                {
                                    <h1>CPF ou Senha Inválidos</h1>
                                }
                            }

                    <div class="form">
                        <img src="../img/index/homem-usuario.png" alt="homem">
                         @Html.TextBoxFor(funcionario => funcionario.CPF, new {@placeholder = "CPF"})
                    </div>

                    <div class="form">
                        <img src="../img/index/chaves.png" alt="chaves">
                        @Html.PasswordFor(funcionario => funcionario.Senha, new {@placeholder = "Senha"})
                    </div>
                            
                    <button type="submit" value="Login" class="button"> Fazer Login </button>
                        }
            </div>
        </div>
    </div>
</section>