@model Gerador_de_Folha_de_Pagamento_Web.Models.Funcionario_Login
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="../css/login.css">


<section>
    <div class="form-box">
        <div class="itens-box">
            <div class="logo">
                <img src="../img/logo.jfif" alt="">
            </div>

            <div class="formulario">
                <h2>LOGIN</h2>
        
                        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                        {

                            if (ViewBag.LoginStatus != null)
                            {
                                if (ViewBag.LoginStatus == 0)
                                {
                                    <div class="alert alert-danger">CPF ou Senha Inválidos</div>
                                }
                            }
                    <div class="form">
                        <img src="../img/login/homem-usuario.png" alt="">
                         @Html.TextBoxFor(f => f.CPF, new { @class = "form-control", @placeholder = "CPF" })
                    </div>

                    <div class="form">
                        <img src="../img/login/chaves.png" alt="">
                        @Html.PasswordFor(f => f.Senha, new { @class = "form-control", @placeholder = "Senha" })
                    </div>
                            <div class="form-group">
                                <button type="submit" value="Login" class="ok-button">   OK   </button>
                            </div>
                        }
            </div>
        </div>
    </div>
</section>