<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menu.css">
    <title>Menu</title>
</head>
<body>
    <section>
        <div class="box">
            <div class="itens-box">
                <header>
                    <h1>Menu</h1>
                    <img src="../img/menu/docs.png" alt="menu" class="doc">
                </header>

                <div class="logo">
                    <img src="../img/logo.jfif" alt="logo_ataron">
                </div>

                <div class="content">

                    <div>
                        <a href="/Home/Visualizar_Folhas_de_Pagamento"> <button class="botao"> Visualizar Folhas de Pagamento </button> </a>
                    </div>

                    <div class="sair">
                        <a href="/Home/index"> <button> Sair da Conta </button> </a>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>