<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/redefinicao-de-senha.css">
    <title>Redefinição de senha</title>
</head>
<body>
    <section>
        <div class="box">
            <div class="itens-box">
                <h2>Redefinição de senha</h2>
                <form action="/Home/Login">
                    <div class="formulario">
                        <div class="form-email">
                            <img src="../img/redefinicao-de-senha/homem-usuario.png" alt="">
                            <input type="email" name="" id="" required>
                            <label for="input">Email</label>
                            <button class="button-email">Enviar codigo</button>
                        </div>

                        <div class="form">
                            <img src="../img/redefinicao-de-senha/cadeado.png" alt="">
                            <input type="number" name="" id="" required minlength="6" maxlength="6">
                            <label for="input">Código de segurança</label>
                        </div>

                        <div class="form">
                            <img src="../img/redefinicao-de-senha/chaves.png" alt="">
                            <input type="password" name="" id="" required minlength="8" maxlength="20">
                            <label for="input">nova senha</label>
                        </div>

                        <div class="form">
                            <img src="../img/redefinicao-de-senha/chaves.png" alt="">
                            <input type="password" name="" id="" required minlength="8" maxlength="20">
                            <label for="input">Repetir senha</label>
                        </div>
                        <button class="button-ok">Redefinir</button>
                </form>
                <button class="button-ok"><a href="/Home/Login">Login</a></button>
            </div>
        </div>
        </div>
    </section>

</body>
</html>