@model Gerador_de_Folha_de_Pagamento_Web.Models.Folha_Pagamento
@{
    ViewData["Title"] = "Visualizar Folhas de Pagamento";
}
<link rel="stylesheet" href="../css/folha_pagamento.css?version=1">
<title>Visualizar Folhas de Pagamento</title>

<h1>Visualizar Folhas de Pagamento</h1>

